@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

:root {
    --color-primary: #6C9BCF;
    --color-danger: #FF0060;
    --color-success: #1B9C85;
    --color-warning: #F7D060;
    --color-white: #fff;
    --color-info-dark: #7d8da1;
    --color-dark: #363949;
    --color-light: rgba(132, 139, 200, 0.18);
    --color-dark-variant: #677483;
    --color-background: #f6f6f9;

    --card-border-radius: 2rem;
    --border-radius-1: 0.4rem;
    --border-radius-2: 1.2rem;

    --card-padding: 1.8rem;
    --padding-1: 1.2rem;

    --box-shadow: 0 2rem 3rem var(--color-light);
}

.dark-mode-variables {
    --color-background: #181a1e;
    --color-white: #202528;
    --color-dark: #edeffd;
    --color-dark-variant: #a3bdcc;
    --color-light: rgba(0, 0, 0, 0.4);
    --box-shadow: 0 2rem 3rem var(--color-light);
}

* {
    margin: 0;
    padding: 0;
    outline: 0;
    appearance: 0;
    border: 0;
    text-decoration: none;
    box-sizing: border-box;
}

html {
    font-size: 14px;
}

body {
    width: 100vw;
    height: 100vh;
    font-family: "Poppins", serif;
    font-size: 14px;
    user-select: none;
    overflow-x: hidden;
    color: var(--color-dark);
    background-color: var(--color-background);
}

a {
    color: var(--color-dark);
}

img {
    display: block;
    width: 100%;
    object-fit: cover;
}

h1 {
    font-size: 28px;
    font-weight: 800;
}

h2 {
    font-size: 22px;
    font-weight: 600;
}

h3 {
    font-size: 13px;
    font-weight: 500;
}

small {
    font-size: 12px;
}

p {
    color: var(--color-dark-variant);
}

b {
    color: var(--color-dark);
}

.text-muted {
    color: var(--color-info-dark);
}

.primary {
    color: var(--color-primary);
}

.danger {
    color: var(--color-danger);
}

.success {
    color: var(--color-success);
}

.warning {
    color: var(--color-warning);
}

.container {
    width: 94%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 13rem auto 23rem;
    gap: 28px;
}

aside {
    height: 100vh;
}

aside .toggle {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 8px;
    margin-top: 22px;
}

aside .toggle .logo {
    display: flex;
    gap: 8px;
}

aside .toggle .logo img {
    width: 32px;
    height: 32px;
}

aside .toggle .close {
    padding-right: 16px;
    display: none;
}

aside .sidebar {
    display: flex;
    flex-direction: column;
    background-color: var(--color-white);
    box-shadow: var(--box-shadow);
    border-radius: 15px;
    height: 88vh;
    position: relative;
    top: 24px;
    transition: all 0.3s ease;
}

aside .sidebar:hover {
    box-shadow: none;
}

aside .sidebar a {
    display: flex;
    align-items: center;
    gap: 16px;
    color: var(--color-info-dark);
    height: 59px;
    position: relative;
    margin-left: 32px;
    transition: all 0.3s ease;
}

aside .sidebar a span {
    font-size: 26px;
    transition: all 0.3s ease;
}

aside .sidebar a:last-child {
    position: absolute;
    bottom: 32px;
    width: 100%;
}

aside .sidebar a.active {
    width: 100%;
    color: var(--color-primary);
    background-color: var(--color-light);
    margin-left: 0;
}

aside .sidebar a.active::before {
    content: "";
    width: 6px;
    height: 18px;
    background-color: var(--color-primary);
}

aside .sidebar a.active span {
    color: var(--color-primary);
    margin-left: calc(1rem - 3px);
}

aside .sidebar a:hover {
    color: var(--color-primary);
}

aside .sidebar a:hover span {
    margin-left: 10px;
}

aside .sidebar .message-count {
    background-color: var(--color-danger);
    color: var(--color-white);
    padding: 2px 6px;
    font-size: 11px;
    border-radius: var(--border-radius-1);
}

main {
    margin-top: 22px;
}

main .analyse {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
}

main .analyse>div {
    background-color: var(--color-white);
    padding: var(--card-padding);
    border-radius: var(--card-border-radius);
    margin-top: 16px;
    box-shadow: var(--box-shadow);
    transition: all 0.3s ease;
    cursor: pointer;
}

main .analyse>div:hover {
    box-shadow: none;
}

main .analyse>div .status {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

main .analyse h3 {
    margin-left: 10px;
    font-size: 16px;
}

main .analyse .progress {
    position: relative;
    width: 92px;
    height: 92px;
    border-radius: 50%;
}

main .analyse svg {
    width: 7rem;
    height: 7rem;
}

main .analyse svg circle {
    fill: none;
    stroke-width: 10;
    stroke-linecap: round;
    transform: translate(5px, 5px);
}

main .analyse .sales svg circle {
    stroke: var(--color-success);
    stroke-dashoffset: -30;
    stroke-dasharray: 200;
}

main .analyse .visits svg circle {
    stroke: var(--color-danger);
    stroke-dashoffset: -30;
    stroke-dasharray: 200;
}

main .analyse .searches svg circle {
    stroke: var(--color-primary);
    stroke-dashoffset: -30;
    stroke-dasharray: 200;
}

main .analyse .progress .percentage {
    position: absolute;
    top: -3px;
    left: -1px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

main .new-users {
    margin-top: 20px;
}

main .new-users .user-list {
    background-color: var(--color-white);
    padding: var(--card-padding);
    border-radius: var(--card-border-radius);
    margin-top: 16px;
    box-shadow: var(--box-shadow);
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 22px;
    transition: all 0.3s ease;
    cursor: pointer;
}

main .new-users .user-list:hover {
    box-shadow: none;
}

main .new-users .user-list .user {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

main .new-users .user-list .user img {
    width: 80px;
    height: 80px;
    margin-bottom: 22px;
    border-radius: 50%;
}

main .recent-orders {
    margin-top: 20px;
}

main .recent-orders h2 {
    margin-bottom: 12px;
}

main .recent-orders table {
    background-color: var(--color-white);
    padding: var(--card-padding);
    box-shadow: var(--box-shadow);
    border-radius: var(--card-border-radius);
    text-align: center;
    width: 100%;
    transition: all 0.3s ease;
}

main .recent-orders table:hover {
    box-shadow: none;
}

main table tbody td {
    height: 45px;
    border-bottom: 1px solid var(--color-light);
}

main table tbody tr:last-child td {
    border: none;
}

main .recent-orders a {
    text-align: center;
    display: block;
    margin: 16px auto;
    color: var(--color-primary);
}

.right-section {
    margin-top: 22px;
}

.right-section .nav {
    display: flex;
    justify-content: end;
    gap: 32px;
}

.right-section .nav button {
    display: none;
}

.right-section .dark-mode {
    background-color: var(--color-light);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 25px;
    width: 67px;
    cursor: pointer;
    border-radius: var(--border-radius-1);
}

.right-section .dark-mode span {
    font-size: 19px;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.right-section .dark-mode span.active {
    background-color: var(--color-primary);
    color: #fff;
    border-radius: var(--border-radius-1);
}

.right-section .nav .profile {
    display: flex;
    text-align: right;
    gap: 32px;
}

.right-section .nav .profile .profile-photo {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    overflow: hidden;
}

.right-section .user-profile {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 16px;
    background-color: var(--color-white);
    padding: var(--card-padding);
    border-radius: var(--card-border-radius);
    box-shadow: var(--box-shadow);
    cursor: pointer;
    transition: all 0.3s ease;
}

.right-section .user-profile:hover {
    box-shadow: none;
}

.right-section .user-profile img {
    width: 176px;
    height: auto;
    margin-bottom: 12px;
    border-radius: 50%;
}

.right-section .user-profile h2 {
    margin-bottom: 3px;
}

.right-section .reminders {
    margin-top: 32px;
}

.right-section .reminders .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 12px;
}

.right-section .reminders .header span {
    padding: 10px;
    background-color: var(--color-white);
    box-shadow: var(--box-shadow);
    border-radius: 50%;
}

.right-section .reminders .notification {
    background-color: var(--color-white);
    display: flex;
    align-items: center;
    gap: 16px;
    margin-bottom: 11px;
    padding: 22px var(--card-padding);
    border-radius: var(--border-radius-2);
    box-shadow: var(--box-shadow);
    cursor: pointer;
    transition: all 0.3s ease;
}

.right-section .reminders .notification:hover {
    box-shadow: none;
}

.right-section .reminders .notification .content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px;
    width: 100%;
}

.right-section .reminders .notification .icon {
    padding: 10px;
    color: var(--color-white);
    background-color: var(--color-success);
    border-radius: 20%;
    display: flex;
}

.right-section .reminders .notification.deactive .icon {
    background-color: var(--color-danger);
}

.right-section .reminders .add-remainder {
    border: 2px dashed var(--color-primary);
    color: var(--color-primary);
    background-color: var(--color-white);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.right-section .reminders .add-remainder:hover {
    background-color: var(--color-primary);
    color: var(--color-white);
}

.right-section .reminders .add-remainder .icon-diff {
    display: flex;
    align-items: center;
    gap: 10px;
}

@media (max-width:1200px) {
    .container {
        width: 95%;
        grid-template-columns: 112px auto 368px;
    }

    aside h2 {
        display: none;
    }

    aside .sidebar h3 {
        display: none;
    }

    aside .sidebar a {
        width: 90px;
    }

    aside .sidebar a:last-child {
        position: relative;
        margin-top: 28px;
    }

    main .analyse {
        grid-template-columns: 1fr;
        gap: 0;
    }

    main .new-users .user-list .user {
        flex-basis: 40%;
    }

    main .recent-orders {
        width: 94%;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        margin: 32px 0 0 12px;
    }

    main .recent-orders table {
        width: 83vw;
    }
    main table thead tr th:last-child,
    main table thead tr th:first-child {
        display: none;
    }
    main table tbody tr td:last-child,
    main table tbody tr td:first-child {
        display: none;
    }
}

@media (max-width:768px) {
    .container{
        width: 100%;
        grid-template-columns: 1fr;
        padding: 0 var(--padding-1);
    }
    aside{
        position: fixed;
        z-index: 3;
        background-color: var(--color-white);
        width: 240px;
        box-shadow: 16px 32px 48px var(--color-light);
        height: 100vh;
        left: -100%;
        display: none;
        animation: showMenu 0.4s ease forwards;
    }
    @keyframes showMenu {
        to{
            left: 0;
        }
    }
    aside .logo{
        margin-left: 16px;
    }
    aside h2 {
        display: inline;
    }
    aside .sidebar h3{
        display: inline;
    }
    aside .sidebar a{
        width: 100%;
        height: 54px;
    }
    aside .sidebar a:last-child{
        position: absolute;
        bottom: 80px;
    }
    aside .toggle .close{
        display: inline-block;
        cursor: pointer;
        margin-left: 30px;
        margin-top: 10px;
    }
    main{
        margin-top: 128px;
        padding: 0 16px;
    }
    main .new-users .user-list .user {
        flex-basis: 35%;
    }
    main .recent-orders{
        position: relative;
        margin: 48px 0px 0px 0px;
        width: 100%;
    }
    main .recent-orders table{
        width: 100%;
        margin: 0;
    }
    .right-section{
        width: 94%;
        margin: 0 auto 64px;
    }
    .right-section .nav{
        position: fixed;
        top: 0;
        left: 0;
        align-items: center;
        background-color: var(--color-white);
        padding: 0 var(--padding-1);
        width: 100%;
        height: 74px;
        box-shadow: 0 16px 16px var(--color-light);
        margin: 0;
    }
    .right-section .nav .dark-mode{
        width: 70px;
        position: absolute;
        left: 66%;
    }
    .right-section .nav .profile .info{
        display: none;
    }
    .right-section .nav button{
        display: inline-block;
        background-color: transparent;
        color: var(--color-dark);
        position: absolute;
        left: 16px;
        cursor: pointer;
    }
    .right-section .nav button span{
        font-size: 32px;
    }
}